In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("datadt.csv")

In [3]:
df

    Income  gender  Mstatus   Ages
0     High    Male   Single    <21
1     High    Male  Married    <21
2     High    Male   Single  21-35
3   Medium    Male   Single   Weak
4      Low  Female   Single    >35
5      Low  Female  Married    >35
6      Low  Female  Married  21-35
7   Medium    Male   Single    >21
8      Low  Female  Married    <21
9   Medium  Female   Single    >35
10  Medium  Female  Married    <21
11  Medium    Male  Married  21-35
12    High  Female   Single  21-35
13  Medium    Male  Married    >35

In [15]:
X = df.iloc[:,:-1]

In [16]:
X

    Income  gender  Mstatus
0     High    Male   Single
1     High    Male  Married
2     High    Male   Single
3   Medium    Male   Single
4      Low  Female   Single
5      Low  Female  Married
6      Low  Female  Married
7   Medium    Male   Single
8      Low  Female  Married
9   Medium  Female   Single
10  Medium  Female  Married
11  Medium    Male  Married
12    High  Female   Single
13  Medium    Male  Married

In [19]:
y = df.iloc[:,3]

In [20]:
y

0       <21
1       <21
2     21-35
3      Weak
4       >35
5       >35
6     21-35
7       >21
8       <21
9       >35
10      <21
11    21-35
12    21-35
13      >35
Name: Ages, dtype: object

In [23]:
from sklearn.preprocessing import LabelEncoder

In [24]:
LabelEncoder_X = LabelEncoder()

In [25]:
X = X.apply(LabelEncoder().fit_transform)

In [26]:
X

    Income  gender  Mstatus
0        0       1        1
1        0       1        0
2        0       1        1
3        2       1        1
4        1       0        1
5        1       0        0
6        1       0        0
7        2       1        1
8        1       0        0
9        2       0        1
10       2       0        0
11       2       1        0
12       0       0        1
13       2       1        0

In [27]:
from sklearn.tree import DecisionTreeClassifier

In [28]:
regressor = DecisionTreeClassifier()

In [29]:
regressor.fit(X.iloc[:,1:4], y)

DecisionTreeClassifier()

In [34]:
X_in = np.array([1,0,])

In [35]:
y_pred = regressor.predict([X_in])

In [46]:
y_pred

array(['21-35'], dtype=object)